body {
  background: url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/industry/weather-forecast-background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  width: 28%;
  max-width: 375px;
  min-width: 375px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.weather-button{
  margin:30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.weather-info-location {
  font-size: 2rem;
  margin-top: 5px;
  font-weight: normal;
  text-align: center;
}

.weather-info {
  font-size: 1.5rem;
  margin-top: 5px;
  text-align: center;
}

.weather-info-icon {
  margin-left: auto;
  margin-right: auto;
}