body {
  background: url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/industry/weather-forecast-background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  border: 3px solid aliceblue;
  padding: 50px;
  border-radius: 30px;
  background-color: aliceblue
}

.weather-button{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}